@import "../../../styles/colors";

.btn {
  background-color: transparent;
  border: 0.5px solid $gray-border-color;
  cursor: pointer;
  transition: background-color 0.7s;

  &:hover {
    background-color: $pink-hover-color;
  }

  @media (min-width: 910px) {
    border-bottom: none;
  }
}
