@import "../../../../styles/colors";

.wrapper {
  border-bottom: 0.5px solid $gray-border-color;
}

.content {
  display: none;

  @media (min-width: 910px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contactData {
  display: flex;
}
