.iconBtn {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
  transition: background-color 1s;
}

.icon {
  width: 30px;
  height: 30px;
}
