.wrapper {
  overflow: auto;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.24s;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;

  &--visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.userBtnGroup {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    position: relative;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 20px;
  }
}

.list {
  text-align: center;

  li {
    margin: 2rem 0;
  }
}

.link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.7s;

  &:hover {
    color: pink;
  }
}

.activeLink {
  color: pink;
}

.contactData {
  border-top: 0.5px solid #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
