body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-family: "Abhaya Libre", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}
